/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

/* Define global variables */
:root {
  --heading-font: "Roboto", "Open Sans", sans-serif;
  --paragraph-font: "Lato", "PT Sans", sans-serif;
}

/* Global box-sizing */
* {
  box-sizing: border-box;
}

/* Body styles */
body {
  background-color: #ffffff;
  font-size: 1em;
  font-family: var(--paragraph-font);
  width: 100%;
  margin: 0;
}

h1, h2 {
  font-family: var(--heading-font);
}

p {
  font-family: var(--paragraph-font);
}

/* Logo styles */
.logo {
  display: block;
  max-width: 175px;
  margin: 1rem auto;
}

.logo-link {
  display: inline-block; /* Changed from default 'inline' */
  line-height: 0; /* Removes any extra vertical spacing */
}

/* Header styles */
.header {
  background-color: #1f2041;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Navigation styles */
.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.navbar li {
  margin: 0 10px;
}

.navbar a {
  color: #ffffff;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
  transition: background-color 0.3s ease;
}

.navbar a:hover {
  background-color: #5794ff;
}

.project-heading {
  margin-top: 60px;
  font-size: 24px;
  text-align: center;
  color: #1f2041;
  font-weight: bold;
}

/* Slideshow container */
.slideshow-container {
  max-width: 90%;
  position: relative;
  margin: auto;
  margin-top: 75px;
  text-align: center;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

/* Hide all slides except the first one by default */
.mySlides:not(:first-child) {
  display: none;
}

/* Image container for centering */
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  overflow: hidden;
}

.image-container img {
  height: auto;
  width: 100%;
  object-fit: cover;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  padding: 0;
  color: #ffffff;
  background-color: #1f2041;
  font-size: 24px;
  text-align: center;
  transition: background-color 0.3s ease;
}

/* Adjusted horizontal alignment of buttons */
.prev {
  left: 10px;
}

.next {
  right: 10px;
}

/* On hover, add a slight color change */
.prev:hover,
.next:hover {
  background-color: #5794ff;
}

/* Caption text */
.text {
  color: #ffffff;
  background-color: #1f2041; 
  font-size: 18px;
  font-weight: bold;
  padding: 1% 5%;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  text-align: center;
  border-radius: 5px;
}

/* Remove underline from text link */
#aqua {
  text-decoration: none;
  color: #fff;
}

#aqua:hover {
  color: #5794ff;
}

/* Number text (1/3 etc) */
.numbertext {
  display: none;
}

.active,
.dot:hover {
  background-color: #1f2041;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* Main content styles */
.main-content {
  background-image: url(https://th.bing.com/th/id/OIG1.T1aFiQdj04ZHqC8wYhad?w=1024&h=1024&rs=1&pid=ImgDetMain);
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(4, 1fr);
  justify-content: space-around;
  max-width: 2560px;
  padding: 1.5rem;
  column-gap: 2rem;
  margin-left: auto;
  margin-right: auto;
}

/* Paragraph and work-link styles */
p,
.work-link {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

/* Heading styles */
h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-weight: bold;
}

/* Section styles */
.work-section,
.about-section,
.skills-section {
  background-color: #1f2041;
  margin: 0 auto;
  border-radius: 10px;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
  padding: 2rem;
  margin-left: auto;
  margin-right: auto;
}

/* Section title styles */
.work-title,
.about-title,
.skills-title {
  color: #5794ff;
  max-width: 2560px;
  margin-bottom: 1rem;
  text-align: center;
  font-family: var(--heading-font);
}

/* Work link styles */
.work-link {
  text-decoration: none;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.work-link img {
  max-width: 150px;
}

/* Work item title styles */
.work-item-title {
  font-weight: 600;
}

/* Work description styles */
.work-description {
  text-align: center;
}

/* Individual section styles */
.work-section {
  grid-column: 1/5;
  grid-row: 1/5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin-bottom: -5rem;
}

.about-section {
  grid-column: 5/9;
  grid-row: 1/5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin-bottom: -5rem;
}

.about-text {
  margin: 0 auto;
  max-width: 2560px;
  text-align: center;
  line-height: 1.6;
  font-size: 1em;
  color: #ffffff;
  font-family: var(--paragraph-font);
}

/* Skills section styles */
.skills-section {
  grid-column: 9/13;
  grid-row: 1/5;
  background-color: #1f2041;
  padding: 2rem;
  border-radius: 8px;
  text-align: center;
  margin-bottom: -5rem;
}

.skills-title {
  color: #5794ff;
  margin-bottom: 1rem;
}

.skill-name {
  color: #ffffff;
}

.skill-icon:hover {
  transform: scale(1.1);
}

.skill-name:hover,
.work-link:hover {
  color: #5794ff;
}

/* Footer styles */
.footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 4rem;
  background-color: #1f2041;
  color: #e7ecef;
  margin: 0 auto;
  margin-top: 5rem;
  max-width: 2560px;
  margin-left: auto;
  margin-right: auto;
}

.footer-container {
  grid-column: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
}

.footer a,
.email-link,
.site-plan {
  color: #e7ecef;
  text-decoration: none;
  margin: 0 0.5rem;
  transition: 0.2s;
}

.footer a:hover,
.email-link:hover,
.site-plan:hover {
  color: #5794ff;
  transform: scale(1.2);
  text-decoration: underline;
}

.email-link::before,
.site-plan::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #5794ff;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.2s ease-in-out;
}

.email-link:hover::before,
.site-plan:hover::before {
  visibility: visible;
  transform: scaleX(1);
  color: #5794ff;
}

/* Social links */
.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  gap: 1rem;
  list-style: none;
}

.social-links a {
  text-decoration: none;
}

.social-links img {
  width: 2rem;
  height: 2rem;
  margin: 0 0.5rem;
  transition: transform 0.2s ease-in-out;
  border-radius: 30%;
  object-fit: cover;
  vertical-align: middle;
}

.social-links img:hover {
  transform: scale(1.2);
}

/* Media queries for responsive design */
@media (max-width: 768px) {
  body {
    font-size: 0.9rem;
  }

  .work-title, .about-title, .skills-title {
    font-size: 1.4rem;
  }

  .work-item-title {
    font-size: 1.2rem;
  }

  .header {
    padding: 5px;
  }

  .logo {
    max-width: 150px;
  }

  .navbar ul {
    flex-wrap: wrap;
    justify-content: center;
  }

  .navbar li {
    margin: 5px;
  }

  .navbar a {
    padding: 10px;
  }

  .slideshow-container {
    margin-top: 5%;
    margin-bottom: -10%;
}

.image-container {
    height: auto;
    max-height: none;
}

.prev, .next {
    padding: 10px;
    font-size: 16px;
    background-color: #1f2041;
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.prev {
    left: -2px;
}

.next {
    right: -2px;
}

.text {
    font-size: 14px;
    bottom: 1%;
    padding: 1% 5%;
    position: absolute;
    width: 50%;
    color: white;
    background-color: #1f2041;
    border-radius: 5px;
}

.numbertext {
    padding: 10px;
    font-size: 14px;
    color: #1f2041;
    background-color: #ffffff;
    border-radius: 5px;
    position: absolute;
    bottom: -33px;
    left: 50%;
    transform: translateX(-50%);
}

.dot {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.8);
    display: inline-block;
}

.dot.active, /* Added class to highlight active dot */
.dot:hover {
    background-color: white;
}

  .logo {
    max-width: 120px;
  }

  .main-content {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    padding: 1rem;
    column-gap: 1rem;
  }

  .work-section,
  .about-section,
  .skills-section {
    grid-column: 1 / -1;
    grid-row: auto;
    margin-bottom: 1rem;
    padding: 1rem;
  }

  .footer {
    padding: 1rem;
  }

  .footer-container {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}
